<div class="mt-3 mb-3 w-100 heading">
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<!-- view the list of users -->

<div class="row">
  <div class="col-md-6">
    <div class="userslistview">
      <div class="card p-3">
        <!-- modal view -->
        <!-- <button
          type="button"
          class="btn btn-primary w-25 m-3"
          (click)="openPopup()"
        >
          Show Data
        </button> -->

        <!-- end of modal viewe -->
        <h4>List of Users</h4>
        <ng-container *ngFor="let user of usersList">
          <div class="card p-4 mt-2 mb-2" (click)="openPopup(user)">
            <div class="row">
              <div class="col md-6">
                <div class="userListDiv">
                  <p class="username">
                    Name : {{ user.firstName }} {{ user.lastName }}
                  </p>
                  <p>Email : {{ user.email_id }}</p>
                  <p>Phone Number : {{ user.phoneNumber }}</p>
                  <p>Address : {{ user.address }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <!-- <label for="profile">Profile</label>
                <input type="file" name="" id="" /> -->
                <img
                  src="{{ user.profile }}"
                  alt="profile"
                  class="profilePic"
                />
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h5>To add new users</h5>

    <div class="row">
      <div class="col-md-6">
        <div class="addUserForm d-flex flex-column">
          <label for="firstName">First name</label>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="firstName"
            placeholder="Enter your first name"
            class="inp"
          />
          <label for="lastName">Last name</label>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="lastName"
            placeholder="Enter your last name"
            class="inp"
          />
          <label for="Email">Email</label>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="email"
            placeholder="Enter your email"
            class="inp"
          />
          <label for="phonenumber">Phone number</label>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="phoneNumber"
            placeholder="Enter your phone number"
            class="inp"
          />
          <label for="address">Address</label>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="address"
            placeholder="Enter your address"
            class="inp"
          />

          <button class="btn btn-primary w-50 mt-3 mb-3" (click)="addUser()">
            Add User
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label for="profile">Profile</label>
        <input
          type="file"
          name=""
          [(ngModel)]="profile"
          id=""
          accept="image/png, image/gif, image/jpeg"
          (change)="handleInputChange($event)"
        />
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Details</h4>
      </div>
      <div class="modal-body">
        <!-- <p>
          Name : {{ clickedUserData.firstName }} {{ clickedUserData.lastName }}
        </p> -->

        <div class="formdiv d-flex flex-column">
          <div class="row">
            <div class="col md-6">
              <label for="name" class="font-weight-bold">First Name</label>
              <input
                type="text"
                name="name"
                class="input px-2"
                id="firstName"
                placeholder="Enter First name"
                [(ngModel)]="resFirstName"
                class="inp"
              />
              <label for="name" class="font-weight-bold">Last Name</label>
              <input
                type="text"
                name="name"
                class="input px-2"
                id="lastName"
                placeholder="Enter last name"
                [(ngModel)]="reslastName"
                class="inp"
              />
              <label for="Email">Email</label>
              <input
                type="text"
                name=""
                id=""
                [(ngModel)]="resemail_id"
                placeholder="Enter your email"
                class="inp"
              />
              <label for="phonenumber">Phone number</label>
              <input
                type="text"
                name=""
                id=""
                [(ngModel)]="resphoneNumber"
                placeholder="Enter your phone number"
                class="inp"
              />
              <label for="address">Address</label>
              <input
                type="text"
                name=""
                id=""
                [(ngModel)]="resaddress"
                placeholder="Enter your address"
                class="inp"
              />

              <ng-container *ngIf="!detailedAddress">
                <p class="text-danger mt-3 mb-3">No Detailed Address</p>
              </ng-container>
              <ng-container *ngIf="detailedAddress">
                <button
                  class="btn btn-danger mt-3 mb-3"
                  (click)="openPopupShowDetailedAddrr()"
                >
                  Show Detailed Address
                </button>
              </ng-container>
            </div>
            <div class="col-md-6">
              <label for="profile">Profile</label>
              <input
                type="file"
                name=""
                [(ngModel)]="resprofile"
                id=""
                accept="image/png, image/gif, image/jpeg"
                (change)="handleInputChange($event)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-info mt-3 mb-3 text-light"
          (click)="openPopupAddress()"
        >
          Add Detailed Address
        </button>
        <button class="btn btn-success mt-3 mb-3" (click)="updateuser()">
          Update
        </button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- address modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayAddrStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Detailed Address</h4>
      </div>
      <div class="modal-body">
        <div class="formdiv d-flex flex-column">
          <div class="row">
            <label for="name" class="font-weight-bold">Pin</label>
            <input
              type="text"
              name="name"
              class="input px-2"
              id="firstName"
              placeholder="Enter First name"
              [(ngModel)]="pin"
              class="inp"
            />
            <label for="name" class="font-weight-bold">State</label>
            <input
              type="text"
              name="name"
              class="input px-2"
              id="lastName"
              placeholder="Enter last name"
              [(ngModel)]="state"
              class="inp"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-info mt-3 mb-3 text-light"
          (click)="addDetailedAddr()"
        >
          Add
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="closePopupAddress()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- detailed address modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayDetAddrStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detailed Address</h4>
      </div>
      <div class="modal-body">
        <div class="formdiv d-flex flex-column">
          <div class="row">
            <label for="name" class="font-weight-bold">Pin</label>
            <h5>{{ detailedAddress.pin }}</h5>
            <label for="name" class="font-weight-bold">State</label>
            <h5>{{ detailedAddress.state }}</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="closePopupDetailedAddress()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
